.navegador__posterior {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    background-color: #664C1C;
    height: 100px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
  
}

.navegacao__posterior {
    position: relative;
    left: 0;
    height: 60px;
}

.navegador__superior__splash {
    width: 68vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 70px;
    background-color: #664C1C;
}

.navegador__superior__skill {
    width: 68vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 70px;
    background-color: #664C1C;
}

.container__botao__superior {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}


.botao__superior {
   height: 50px;
   width: 50px;
   color: #C28F2C;
}

.container__icone__botao__superior {
    background-color: #27272E;
    height: 90px;
    width: 90px;
    position: absolute;
    top: 25%;
    border-radius: 50%;
    display: grid;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.tela__splash__art {
    position: absolute;
    top: 14%;
    left: 12.2%;
    height: 84%;
    width: 75vw;
    display: initial;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #0a0a0d40;
}

.tela__habilidades {
    position: absolute;
    top: 3%;
    left: 0%;
    height: 99%;
    width: 75vw;
    display: initial;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #0a0a0de5;
}

.tela__splash__art__removida {
    display: none;
}

.container__splash__campeao {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
} 

.container__skin__campeao {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

   
}

.moldura__splash__campeao {
    position: absolute;
    z-index: 2;
    height: 85%;
    top: 6%;
}

.image__splash__campeao {
    position: absolute;
    top: 5%;
    height: 90%;
    width: 75%;
}

.moldura__campeao {
    position: relative;
    top: -60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 5vw;
    height: 12vh;
    cursor: pointer;
    transition: 0.2s;
}

.moldura__campeao:hover {
  transform: scale(1.1, 1.1);
}


.icone__campeao {
    position: absolute;
    top: -42%;
    width: 10vw;
    height: 22vh;
    border-radius: 50%;
    transform: scale(0.5);
}

.icone__moldura {
    position: absolute;
    top: -12%;
    width: 6.5vw;
    height: 14.7vh;
    z-index: 1000;
    
}

.titulo__splash__campeao {
    position: absolute;
    z-index: 100;
    top: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nome__splash__campeao {
    color: #CFA75A;
    font-weight: 700;
    font-size: 1.6rem;
}

.sub__nome__splash__campeao {
    color: #F5DAA6;
    font-weight: 500;
    font-style: italic;
    font-size: 1rem;
}

.icon {
    position: absolute;
    top: -30%;
    color: #DBBD77;
    background: rgba(29, 29, 35, 0.8);
    border: 1px solid #916E2D;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 13px; 
}

.navegador__posterior__splash {
    width: 90%;
    height: 9%;
    background-color: #664C1C;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ancora__skin__splash {
    position: relative;
    top: -30%;
    height: 80px;
    width: 80px;
    background-color: #15151BCC;
    border-radius: 50%;
    border: 1px solid #7B5710;
    cursor: pointer;
    display: grid;
    align-content: center;
    justify-content: center;
}

.ancora__habilidades__splash {
    position: relative;
    top: -30%;
    height: 80px;
    width: 80px;
    background-color: #15151BCC;
    border-radius: 50%;
    border: 1px solid #7B5710;
    cursor: pointer;
    display: grid;
    align-content: center;
    justify-content: center;
}

.icone__skin__splash {
    height: 55px;
    width: 55px;
}

.icone__habilidades__splash {
    height: 55px;
    width: 55px;
}

.tela__habilidades__splash {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 75vw;
    display: initial;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #0a0a0de5;
}

.remover__tela__splash {
    position: absolute;
    display: none;
}

.mostrar__tela__splash {
    position: absolute;
    top: -5%;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: initial;
}

.habilidades {
    height: 60px;
    width: 60px;
    background-color: #664C1C;
    cursor: pointer;
}

.passiva {
    height: 60px;
    width: 60px;
    background-color: #664C1C;
    cursor: pointer;
}

.lista__habilidades {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container__info__habilidades {
    height: auto;
    width: 100%;
    max-width: 45vw;
    background: #15151b86;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    color: white;
    font-family: Kanit;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    gap: 10px;
}

.titulo__passiva {
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
    text-align: left;
}

.subtitulo__passiva {
    color: white;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    text-align: left;
}

.texto__passiva {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;

}

.titulo__habilidade {
    font-size: 1.7rem;
}

.subtitulo__habilidade {
    color: white;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    text-align: left;
}

.texto__habilidade {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
}

.carrousel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
}

.botao__left__skin {
    position: absolute;
    width: 50px;
    height: 55px;
    cursor: pointer;
    z-index: 1000;
}

.botao__right__skin {
    position: absolute;
    left: 96%;
    width: 50px;
    height: 55px;
    cursor: pointer;
    z-index: 1000;
}

.icon__left {
    color: #664C1C;
    height: 55px;
    width: 50px;
}

.icon__right {
    color: #664C1C;
    height: 55px;
    width: 50px;
}

.container__skins {
    position: absolute;
    width: 100%;
    height: 100%;
}

.image__skin {
    opacity: 0;
    position: absolute;
    top: 5%;
    left: 7%;
    height: 90%;
    width: 85%;
}

.selected {
    opacity: 1;
    position: absolute;
    top: 15%;
    left: 10%;
    height: 80%;
    width: 79%;
}

.moldura__skin {
    float: left;
    top: 20%;
    left: 0%;
    position: absolute;
    height: 70%;
    width: 100%;
    transform: scale(1.1);
}

.icone__champ__splash {
    height: 65px;
    width: 65px;
}

.ancora__champ__splash {
    position: relative;
    top: -30%;
    height: 80px;
    width: 80px;
    background-color: #15151BCC;
    border-radius: 50%;
    border: 1px solid #7B5710;
    cursor: pointer;
    display: grid;
    align-content: center;
    justify-content: center;
}

.titulo__pagina__skins {
    position: absolute;
    top: 5%;
    left: 45%;
    width: 10vw;
    z-index: 1000;
    display: flex;
    gap: 10px;
    align-items: center;
}

.titulo__paginas {
    color: white;
}

.icon_skins_titulo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: rgba(21, 21, 27, 0.8);
    border: 1px solid #7B5710;
    display: grid;
    align-content: center;
    justify-content: center;
}

.icone__pagina__skins {
    height: 50px;
    width: 50px;
}

.container__skills__campeao {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-evenly;
}

.container__habilidades{
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    width: 50px;
    align-items: center;
}

.icone__interno {
    z-index: 100;
    width: 100%;
}

.titulo__pagina__habilidades {
    position: absolute;
    top: 15%;
    left: 45%;
    display: flex;
    width: 15vw;
    gap: 20px;
    align-items: center;
}

.icone__pagina__habilidades {
    height: 60px;
    width: 60px;
    background: rgba(21, 21, 27, 0.8);
    border: 1px solid #7B5710;
    border-radius: 50%;
    padding: 10px;
}

.texto__pagina_habilidades {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.moldura__mobile {
    display: none;
}


@media(max-width: 800px) {
    .icon {
        top: -45%;
        width: 30px;
        height: 30px;
        
    }

    .menu {
        top: -45%;
        width: 30px;
        height: 30px;
        left: 75%;
    }

    .voltar {
        top: -45%;
        width: 30px;
        height: 30px;
        left: 10%;
    }

    .moldura__campeao {
        top: -26%;
        width: 20vw;
        height: 13vh;
    }

    .icone__campeao {
        top: -35%;
        width: 38vw;
        height: 18vh;
    }


    .icone__moldura {
        top: -10%;
        width: 29.5vw;
        height: 18.7vh;
    }

    .icone__moldura {
        top: -25%;
        width: 25vw;
        height: 15.7vh;
    }

    .navegador__posterior {
        height: 80px;
        width: 100vw;
    }
}

@media(max-width: 600px) {
    .icon {
        top: -45%;
        width: 30px;
        height: 30px;
        
    }

    .menu {
        top: -45%;
        width: 30px;
        height: 30px;
        left: 75%;
    }

    .voltar {
        top: -45%;
        width: 30px;
        height: 30px;
        left: 10%;
    }

    .moldura__campeao {
        top: -30%;
        width: 25vw;
        height: 10vh;
    }

    .mostrar__tela__splash {
        position: absolute;
        top: -21%;
        left: 0;
        width: 100vw;
        height: 155vh;
        display: initial;
    }

    .container__splash__campeao {
        width: 100vw;
    }

    .image__splash__campeao {
        width: 100%;
        height: 75%;
        object-fit: fill;
    }

    .moldura__splash__campeao {
        display: none;
    }

    .icone__campeao {
        top: -54%;
        width: 45vw;
        height: 25vh;
    }

    .icone__moldura {
        top: -15%;
        width: 30.5vw;
        height: 16.7vh;
    }

    .navegador__posterior {
        height: 80px;
        width: 100vw;
    }

    .tela__splash__art {
        width: 100vw;
        left: 0;
    }

    .navegador__posterior__splash {
        width: 100vw;
    }

    .navegador__superior__splash {
        width: 100vw;
    }

    .titulo__splash__campeao {
        top: 85%;
    }

    .nome__splash__campeao {
        font-size: 2rem;
    }

    .sub__nome__splash__campeao {
        font-size: 1.2rem;
    }
}

@media(max-width: 800px) {
    .moldura__campeao {
        top: -30%;
        width: 25vw;
        height: 10vh;
    }

    .mostrar__tela__splash {
        position: absolute;
        top: -21%;
        left: 0;
        width: 100vw;
        height: 152vh;
        display: initial;
    }

    .titulo__splash__campeao {
        top: 85%;
    }

    .nome__splash__campeao {
        font-size: 2rem;
    }

    .sub__nome__splash__campeao {
        font-size: 1.2rem;
    }

    .container__splash__campeao {
        width: 100vw;
    }

    .image__splash__campeao {
        width: 100%;
        height: 75%;
        border-radius: 20px;
        object-fit: cover;
        object-position: 70%;
    }

    .moldura__splash__campeao {
        display: none;
    }

    .tela__splash__art {
        width: 100vw;
        left: 0;
    }

    .navegador__posterior__splash {
        width: 100vw;
    }

    .navegador__superior__splash {
        width: 100vw;
    }

    .tela__habilidades__splash {
        width: 100vw;
    }

    .tela__habilidades {
        width: 100%;
    }

    .container__botao__superior {
        width: 100%;
    }

    .navegador__superior__skill {
        width: 100%;
    }

    .container__skills__campeao {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .container__habilidades {
        display: flex;
        width: 100%;
    }

    .lista__habilidades {
        display: flex;
        flex-direction: row;
    }

    .container__info__habilidades {
        width: 100vw;
        height: 55vh;
        font-size: 0.9rem;
        padding: 5px;
        justify-content: center;
        max-width: 85vw;
    }

    .texto__habilidade {
        width: 100%;
        font-size: 0.9rem;
    }

    .texto__passiva {
        width: 100%;
        font-size: 0.9rem;
    }

    .habilidades {
        height: 50px;
        width: 50px;
    }

    .habilidades img {
        width: 50px;
        height: 50px;
    }

    .passiva {
        height: 50px;
        width: 50px;
    }

    .passiva img {
        height: 50px;
        width: 50px;
    }

    .titulo__pagina__habilidades {
        left: 10%;
        top: 13%;
    }

    .moldura__skin {
        display: none;
    }

    .botao__right__skin {
        left: 85%;
    }

    .titulo__pagina__skins {
        left: 30%;
        width: 100%;
    }

    .icon_skins_titulo {
        height: 60px;
        width: 60px;
    }

    .container__skins img {
        width: 70%;
        left: 15%;
        object-fit: cover;
        object-position: 50%;
    }
}