.navegador__posterior {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    background-color: #664C1C;
    height: 100px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
}

.navegacao__posterior {
    position: relative;
    height: 60px;
}

.navegador__superior__splash {
    width: 68vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 70px;
    background-color: #664C1C;
}

.navegador__superior__skill {
    width: 68vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 70px;
    background-color: #664C1C;
}

.container__botao__superior {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}


.botao__superior {
   height: 50px;
   width: 50px;
   color: #C28F2C;
}

.container__icone__botao__superior {
    background-color: #27272E;
    height: 90px;
    width: 90px;
    position: absolute;
    top: 25%;
    border-radius: 50%;
    display: grid;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.tela__splash__art {
    position: absolute;
    top: 14%;
    left: 12.2%;
    height: 82%;
    width: 75vw;
    display: initial;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #0a0a0de5;
}

.tela__habilidades {
    position: absolute;
    top: 3%;
    left: 0%;
    height: 99%;
    width: 75vw;
    display: initial;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #0a0a0de5;
}

.tela__splash__art__removida {
    position: absolute;
    top: 13%;
    left: 13%;
    height: 75vh;
    width: 75vw;
    display: none;
    background: rgba(10, 10, 13, 0.5);
    
}

.container__splash__campeao {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moldura__splash__campeao {
    position: absolute;
    z-index: 2;
    height: 76%;
    top: 6%;
}

.image__splash__campeao {
    position: absolute;
    top: 5%;
    height: 79%;
    width: 75%;
}

.moldura__campeao {
    position: relative;
    top: -50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 5vw;
    height: 12vh;
    cursor: pointer;
    transition: 0.2s;
}

.moldura__campeao:hover {
  transform: scale(1.1, 1.1);
}


.icone__campeao {
    position: absolute;
    top: -42%;
    width: 10vw;
    height: 22vh;
    border-radius: 50%;
    transform: scale(0.5);
}

.icone__moldura {
    position: absolute;
    top: -12%;
    width: 6.5vw;
    height: 14.7vh;
    z-index: 1;
}

.titulo__splash__campeao {
    position: absolute;
    z-index: 100;
    top: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nome__splash__campeao {
    color: #CFA75A;
    font-weight: 700;
    font-size: 1.6rem;
}

.sub__nome__splash__campeao {
    color: #F5DAA6;
    font-weight: 500;
    font-style: italic;
    font-size: 1rem;
}

.icon {
    position: relative;
    top: -68%;
    color: #DBBD77;
    background: rgba(29, 29, 35, 0.8);
    border: 1px solid #916E2D;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 13px; 
}

.navegador__posterior__splash {
    width: 90%;
    height: 9%;
    background-color: #664C1C;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ancora__skin__splash {
    height: 80px;
    width: 80px;
    background-color: #15151BCC;
    border-radius: 50%;
    border: 1px solid #7B5710;
    cursor: pointer;
    display: grid;
    align-content: center;
    justify-content: center;
}

.ancora__habilidades__splash {
    height: 80px;
    width: 80px;
    background-color: #15151BCC;
    border-radius: 50%;
    border: 1px solid #7B5710;
    cursor: pointer;
    display: grid;
    align-content: center;
    justify-content: center;
}

.icone__skin__splash {
    height: 55px;
    width: 55px;
}

.icone__habilidades__splash {
    height: 55px;
    width: 55px;
}

.testeB {
    position: absolute;
    display: none;
}

.testeA {
    position: absolute;
    top: -5%;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: initial;
}
